.gg-button {
	padding: 0.75rem;
	border-radius: 0.75rem;
	border: none;

	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;

	font: var(--gg-font-button);
	background: var(--gg-color-button-blue-primary);
	color: var(--gg-color-text-primary);
	text-align: center;

	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	transition: background 0.2s;
}

/* size */

.gg-button.gg-button_small {
	padding: 0.5rem;
	gap: 0.25rem;
	font: var(--gg-lk-font-button-small);
}

/* color */

.gg-button.gg-button_neutral {
	background: rgba(255, 255, 255, 0.08);
}
.gg-button.gg-button_neutral:hover {
	background: rgba(255, 255, 255, 0.12);
}

.gg-button.gg-button_success {
	background: #2e906db2;
}

.gg-button.gg-button_disabled {
	opacity: 0.5;
	pointer-events: none;
}

.gg-button.gg-button_full-width {
	width: 100%;
}
