.gg-game-loader {
	background-image: url(../../assets/main-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}

.gg-game-loader__content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
}

.gg-game-loader__logo {
	width: 126px;
}

.gg-game-loader__text {
	width: min(240px, 100%);
	font: var(--gg-lk-font-body2);
	color: var(--gg-color-text-tertiary);
	text-align: center;
}

.gg-game-loader__progress {
	position: relative;
	width: min(270px, 100%);
	height: 0.75rem;
	border-radius: 0.75rem;
	background: var(--gg-color-surface);
	overflow: hidden;
}

.gg-game-loader__progress-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: 0.75rem;
	background: var(--gg-color-text-blue);
	transition: width linear 0.5s;
}
