.gg-result {
	z-index: 1000;
}

.gg-result__window {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	width: 340px;
	max-width: calc(100% - 1rem);

	height: 488px;
	max-width: calc(100% - 1rem);

	border-radius: 1.5rem;
	overflow: hidden;
	background: var(--gg-color-background-secondary);
}

.gg-result__pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.gg-result__pattern::before,
.gg-result__pattern::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 31%;
	content: "";
	box-shadow:
		inset 0 0 25px var(--gg-color-background-secondary),
		inset 0 0 25px var(--gg-color-background-secondary),
		inset 0 0 35px var(--gg-color-background-secondary),
		inset 0 0 45px var(--gg-color-background-secondary),
		inset 0 0 45px var(--gg-color-background-secondary),
		inset 0 0 55px var(--gg-color-background-secondary),
		inset 0 0 55px var(--gg-color-background-secondary);
	background: url("../../assets/coin-pattern.png"),
		linear-gradient(
			var(--gg-color-background-primary),
			var(--gg-color-background-primary)
		);
	background-size: 75px 75px;
	background-position: 6px 8px;
	opacity: 0.5;
}

.gg-result__pattern::before {
	top: 0;
}

.gg-result__pattern::after {
	bottom: 0;
}

.gg-result__close-btn {
	position: absolute;
	top: 1.5rem;
	right: 1.125rem;
	z-index: 1;
}

.gg-result__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	z-index: 1;
}

.gg-result__title {
	font: var(--gg-font-h4);
	text-align: center;
	text-transform: uppercase;
}

.gg-result__prize-count {
	margin-bottom: 0.5rem;
	font: var(--gg-font-h4);
	text-align: center;
	color: var(--gg-color-text-blue);
}
.gg-result__prize-currency {
	font: var(--gg-lk-font-h4);
	text-align: center;
}

.gg-result__ok-btn {
	position: absolute;
	bottom: 1.875rem;
	left: 1.5rem;
	width: calc(100% - 3rem);
	box-sizing: border-box;
	z-index: 1;
	text-transform: uppercase;
}
