.gg-result {
	z-index: 1000;
}

.gg-result__window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	position: relative;
	box-sizing: border-box;
	width: 340px;
	max-width: calc(100% - 1rem);
	height: 488px;
	max-height: calc(100% - 1rem);

	padding: 2.75rem 1.5rem 1.75rem 1.5rem;

	border-radius: 1.5rem;
	overflow: hidden;
	background: var(--gg-color-background-secondary);
}

.gg-result__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gg-result__close-btn {
	position: absolute;
	top: 1.5rem;
	right: 1.125rem;
	z-index: 1;
}

.gg-result__header {
	font: var(--gg-font-h4);
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

.gg-result__body {
	position: absolute;
	top: 151px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.gg-result__prize {
	text-align: center;
	max-width: 100%;
}

.gg-result__prize-coin {
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.gg-result__prize-count {
	font: 2.25rem / 3.25rem "Dela Gothic One";
	text-align: center;
	width: 100%;
	margin-top: -0.75rem;
	max-width: 100%;
	overflow: hidden;
}

.gg-result__coefficient {
	margin-top: 1rem;
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;
	background: var(--gg-color-button-blue-primary);
	font: var(--gg-lk-font-button-small);
	text-transform: uppercase;
}

.gg-result__high-score {
	position: relative;
	font: var(--gg-font-button);
	padding: 1rem 0;
	margin-top: 0.5rem;
	text-align: center;
	text-transform: uppercase;
}

.gg-result__high-score::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 295px;
	height: 124px;
	transform: translate(-50%, -50%);
	background-image: url(../../assets/high-score-background.png);
	background-size: cover;
	z-index: -1;
}

.gg-result__button {
	width: 100%;
	box-sizing: border-box;
	text-transform: uppercase;
	z-index: 1;
}
